@font-face {
  font-family: 'DINPro-regular';
  src: url("../fonts/DINPro.eot");
  src: url("../fonts/DINPro.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro.woff2") format("woff2"), url("../fonts/DINPro.woff") format("woff"), url("../fonts/DINPro.ttf") format("truetype"), url("../fonts/DINPro.svg#DINPro") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DINPro-bold';
  src: url("../fonts/DINPro-Bold.eot");
  src: url("../fonts/DINPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Bold.woff2") format("woff2"), url("../fonts/DINPro-Bold.woff") format("woff"), url("../fonts/DINPro-Bold.ttf") format("truetype"), url("../fonts/DINPro-Bold.svg#DINPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'DINPro-medium';
  src: url("../fonts/DINPro-Medium.eot");
  src: url("../fonts/DINPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Medium.woff2") format("woff2"), url("../fonts/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro-Medium.ttf") format("truetype"), url("../fonts/DINPro-Medium.svg#DINPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'DINPro-light';
  src: url("../fonts/DINPro-Light.eot");
  src: url("../fonts/DINPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Light.woff2") format("woff2"), url("../fonts/DINPro-Light.woff") format("woff"), url("../fonts/DINPro-Light.ttf") format("truetype"), url("../fonts/DINPro-Light.svg#DINPro-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

p {
  margin: 0; }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    text-decoration: none;
    color: #000; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  font-family: 'DINPro-regular'; }

.container {
  width: 1148px; }

/*font-weight*/
.font_bold {
  font-family: 'DINPro-bold', serif; }

.font_medium {
  font-family: 'DINPro-medium', serif; }

.font_light {
  font-family: 'DINPro-light', serif; }

.font_reguar {
  font-family: 'DINPro-regular', serif; }

/* header */
.header {
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.logo {
  border-right: 1px solid #ccc;
  padding-top: 16px;
  padding-bottom: 16px; }
  .logo__slogan {
    color: #919599;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 17px;
    border-left: 1px solid #919599;
    padding-left: 10px; }
  .logo img {
    padding-right: 15px; }
  .logo:hover {
    text-decoration: none; }

.nav {
  border-right: 1px solid #ccc; }
  .nav__item {
    width: 100%;
    position: relative;
    text-align: center;
    -webkit-flex-basis: 63%;
        -ms-flex-preferred-size: 63%;
            flex-basis: 63%; }
    .nav__item_catalog {
      background: -o-linear-gradient(257.53deg, #2D4F5E 15.38%, #30985D 87.88%);
      background: linear-gradient(192.47deg, #2D4F5E 15.38%, #30985D 87.88%);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 100%;
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%; }
      .nav__item_catalog a {
        color: #fff;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%; }
        .nav__item_catalog a:after {
          content: '';
          width: 9px;
          height: 5px;
          display: block;
          background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.466797 1L4.61495 4L8.4668 1' stroke='white'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          margin-left: 10px; }
  .nav__link {
    color: #30865E;
    font-size: 17px; }
